.my-App {
  text-align: center;
  background:rgb(50, 50, 50);
  color:white;
  box-shadow: 0 -10px 7px -7px grey inset;
  height:100%;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-color:gray;
}


